<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <listener>
    <listener-class>com.iut.config.InitialisationDaoFactory</listener-class>
  </listener>
  <filter>
    <filter-name>ClientFilter</filter-name>
    <filter-class>com.iut.filters.ClientFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ClientFilter</filter-name>
    <url-pattern>/client/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>ConseillerFilter</filter-name>
    <filter-class>com.iut.filters.ConseillerFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ConseillerFilter</filter-name>
    <url-pattern>/conseiller/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>ConnexionClient</servlet-name>
    <servlet-class>com.iut.servlets.ConnexionClient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnexionClient</servlet-name>
    <url-pattern>/client</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ConnexionConseiller</servlet-name>
    <servlet-class>com.iut.servlets.ConnexionConseiller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnexionConseiller</servlet-name>
    <url-pattern>/conseiller</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AccueilClient</servlet-name>
    <servlet-class>com.iut.servlets.AccueilClient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccueilClient</servlet-name>
    <url-pattern>/client/accueil</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AccueilConseiller</servlet-name>
    <servlet-class>com.iut.servlets.AccueilConseiller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccueilConseiller</servlet-name>
    <url-pattern>/conseiller/accueil</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListerClients</servlet-name>
    <servlet-class>com.iut.servlets.ListerClients</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListerClients</servlet-name>
    <url-pattern>/conseiller/client</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreationCompte</servlet-name>
    <servlet-class>com.iut.servlets.CreationCompte</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreationCompte</servlet-name>
    <url-pattern>/conseiller/creationCompte</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AffichageCompte</servlet-name>
    <servlet-class>com.iut.servlets.AfficherCompte</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AffichageCompte</servlet-name>
    <url-pattern>/conseiller/client/compte</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ModificationCompte</servlet-name>
    <servlet-class>com.iut.servlets.ModificationCompte</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModificationCompte</servlet-name>
    <url-pattern>/conseiller/client/compte/modifier</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SuppressionCompte</servlet-name>
    <servlet-class>com.iut.servlets.SuppressionCompte</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuppressionCompte</servlet-name>
    <url-pattern>/conseiller/client/compte/supprimer</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NouvelleTransaction</servlet-name>
    <servlet-class>com.iut.servlets.NouvelleTransaction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NouvelleTransaction</servlet-name>
    <url-pattern>/conseiller/client/compte/transaction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Versement</servlet-name>
    <servlet-class>com.iut.servlets.Versement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Versement</servlet-name>
    <url-pattern>/conseiller/client/compte/transaction/versement</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Virement</servlet-name>
    <servlet-class>com.iut.servlets.Virement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Virement</servlet-name>
    <url-pattern>/conseiller/client/compte/transaction/virement</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AfficherInfosClient</servlet-name>
    <servlet-class>com.iut.servlets.AfficherInfosClient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AfficherInfosClient</servlet-name>
    <url-pattern>/conseiller/client/infos</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RechercheClients</servlet-name>
    <servlet-class>com.iut.servlets.RechercheClients</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RechercheClients</servlet-name>
    <url-pattern>/conseiller/client/recherche</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AfficherComptesDecouverts</servlet-name>
    <servlet-class>com.iut.servlets.AfficherComptesDecouverts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AfficherComptesDecouverts</servlet-name>
    <url-pattern>/conseiller/client/compte/decouvert</url-pattern>
  </servlet-mapping>
</web-app>